:host {
  display: block;

  border-radius: 0.25rem;
  border: 1px solid var(--lui-color-gray);
}

::slotted([slot='header']) {
  border-bottom: 1px solid var(--lui-color-gray);
  padding: 0.75rem 1rem;
}

::slotted([slot='content']) {
  padding: 0.75rem 1.25rem;
}

::slotted([slot='footer']) {
  border-top: 1px solid var(--lui-color-gray);
  padding: 0.75rem 1rem;
}
